<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>About</a>
  <a href="#resume">Resume</a>
  <a href="#"><i class="fa fa-linkedin"></i>Contact</a>
</div>

<span id="open" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>

<div id="main" class="main">

<div class="container-fluid bg-1" id="hero">
  <div class="inner">
    <div class="copy text-center">
      <h1>Lauren Michelle </h1>
        <p>Michelledesign789@gmail.com</p>
        <p>You've found my client side resume.</p>
        <p>Please enjoy and contact me for updates.</p>
      </div>
    </div>
  </section>

    <div class="container-fluid bg-3 text-center" id="#resume"> 
      <h3>About Myself</h3>
      <div class="row">
        <div class="col-sm-4">
          <h3>Expertise</h3>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
            <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <div class="content">
                    <ul>
                      <img src="/lauren.jpg.jpg" width="128" height="128">
                      <img src="/images/lauren.jpg.jpg" width="128" height="128">
                      <img src="images/lauren.jpg.jpg" width="128" height="128">
                      <img src="images/lauren.jpg.jpg" width="128" height="128">
                    </ul>
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <p></p>
          <img src="birds2.jpg" alt="Image">
        </div>
        <div class="col-sm-4">
          <div class="container">
          <h3>An Aspiration</h3>
          <p>Training to become a personal fitness</p>
          <p>instructor. I enjoy learning healthy living</p>
          <p>and motivating others toward their lifestyle goals.</p>
          <img src="https://s-media-cache-ak0.pinimg.com/564x/06/9d/ac/069dacc5dabb060d3e7ba20e930190f4.jpg" class="img-circle" alt="Image" width="150px">
        </div>
        <div class="col-sm-4" id="java"> 
          <h3 class="java">Web Development</h3>
          <p>My long-term goal is to join a competetive team</p>
          <p>in web security. I have one year experience of </p>
          <p class="java">html css and javascript.</p>
          <img src="http://66.media.tumblr.com/3f2dfe3fb0789694de1b4223b2064e37/tumblr_mvcl7cDN2g1sjxoxxo1_500.jpg" class="img-circle" alt="js" width="200px">
        </div>
      </div>
    </div>


</div>