<div id="main" class="main">

<div class="container-fluid bg-2" id="hero">
  <div class="inner">
    <div class="copy text-center">
      <h1>Lauren Michelle </h1>
        <p>Michelledesign789@gmail.com</p>
        <p>You've found my client side resume.</p>
        <p>Please enjoy and contact me for updates.</p>
      </div>
    </div>
  </div>

    <div class="container-fluid bg-2 text-center" id="#about"> 
      <h3>About Myself</h3>
      <div class="col-sm-4">
        <h3 class="skill">Expertise Team Management</h3>
        <div class="hovereffect">
        <img class="img-responsive" src="http://67.media.tumblr.com/79b8d1348ed7a7d8d7b4442ddb3fae84/tumblr_inline_n5jz21IsJQ1sfldmt.jpg" alt="" height="200px">
          <div class="overlay">
             <h2>Management Skills</h2>
             <p>Customer service and team building are my greatest strengths, along with organizational prioritization effictively being the regard of my profiency leading up to 2 years of managerial experience.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <h3>An Aspiration</h3>
        <p>Training to become a personal fitness</p>
        <p>instructor. I enjoy learning healthy living</p>
        <p>and motivating others toward their lifestyle goals.</p>
        <img class="img-circle" src="https://s-media-cache-ak0.pinimg.com/564x/06/9d/ac/069dacc5dabb060d3e7ba20e930190f4.jpg" height="200px">
      </div>
      <div class="col-sm-4">
        <h3 class="skill">My Ambition</h3>
        <div class="hovereffect">
        <img class="img-responsive" src="http://66.media.tumblr.com/3f2dfe3fb0789694de1b4223b2064e37/tumblr_mvcl7cDN2g1sjxoxxo1_500.jpg" alt="" height="200px">
          <div class="overlay">
            <h2>Present Success</h2> 
            <p>My long-term goal is to join a competetive team in web security. I have one year experience of html, css, and javascript. </p>
          </div>
        </div>
      </div>
    </div>
  
  <div class="container-fluid bg-2" id="hero">
    <div class="inner">
      <div class="copy text-center">
        <h1>Work History and Education</h1>
        </div>
    </div>
  </div>
  
    <!-- Hero Unit -->
  <section class="hero-unit">
  
    <div class="row">
      <div class="large-12 columns">
        <ul class="small-block-grid-2 medium-block-grid-3 flip-cards" style="list-style: none;">
  
          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front text-center">
              <a href="github.com/michellelle">Web Code</a>
              <i class="fa fa-code card-icon " style="font-size:48px;"></i>
            </div>
            <div class="panel card-back">
              <i class="fa fa-code card-icon"></i>
              <div class="hub-info">
                <a>Jan 2015 - Present</a>
                <p>Find coding gists, cheatsheets, plugins, themes, resources, and tutorials.</p>
              </div>
              <small class="clear">Updated Weekly.</small>
            </div>
          </li>
  
          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front text-center">
              <a href="http://www.rover.com">Rover.com</a>
              <i class="fa fa-pencil-square-o card-icon" style="font-size:48px;"></i>
            </div>
  
            <div class="panel card-back">
              <i class="fa fa-pencil-square-o card-icon"></i>
              <div class="hub-info">
                <a>Jun. - Nov. 2015</a>
                <p>Pet care and boarding. Caring for dogs and pups includes, bathing, schedule and feed appropriation, and extra love to comfort them while their "parents" were on vacation.</p>
              </div>
              <small class="clear">Dog Trainer</small>
            </div>
          </li>
  
          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front text-center">
              <a href="">Target inc.</a>
              <i class="fa fa-paper-plane-o card-icon" style="font-size:48px;"></i>
            </div>
  
            <div class="panel card-back">
              <i class="fa fa-paper-plane-o card-icon"></i>
              <div class="hub-info">
                <a href="">Sep. - Dec. 2014</a>
                <p>Communication with management for timely RF inventory and shelving location. Ability to lift 50lbs, pallet stacker, and cashier.</p>
              </div>
              <small class="clear">Backroom Team</small>
            </div>
          </li>
  
          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front text-center">
              <a href="">Circle K</a>
              <i class="fa fa-map-o card-icon" style="font-size:48px;"></i>
            </div>
  
            <div class="panel card-back">
              <i class="fa fa-map-o card-icon"></i>
              <div class="hub-info">
                <a href="">Nov. '13 - Jun. '14</a>
                <p>Safety maintenance at fuel islands, guest inquiries, coffee attendant, and outstanding customer service.</p>
              </div>
              <small class="clear">Cashier</small>
            </div>
          </li>
  
          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front text-center">
              <a href="http://www.keytokorean.com">Walmart</a>
              <i class="fa fa-users card-icon" style="font-size:48px;"></i>
            </div>
  
            <div class="panel card-back">
              <i class="fa fa-users card-icon"></i>
              <div class="hub-info">
                <a href="">April '07 - Aug. '08</a>
                <p>Daily meetings, health code profficiency, follow food safety and prep procedures, anticipate inventory and flow, employee training and schedule, management communication.</p>
              </div>
              <small class="clear">Department Manager</small>
            </div>
          </li>
  
          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front text-center">
              <a href="http://www.aicfchurch.org">Education</a>
              <i class="fa fa-language card-icon" style="font-size:48px;"></i>
            </div>
  
            <div class="panel card-back">
              <i class="fa fa-language card-icon"></i>
              <div class="hub-info">
                <a href="">Web Technology</a>
                <p>Joining classes about Computers, Technology, Coding, Design, and Language Learning.</p>
              </div>
              <small class="clear">Updated Weekly</small>
            </div>
         </li>
        </ul> 
      </div>
    </div>
    </div>
  </section>
  
  <!-- Skills Section -->
<div class="w3-container w3-light-grey w3-padding-64">
  <div class="w3-row-padding">
    <div class="w3-col m6 text-center">
      <h3>My Skills.</h3>
      <p>Work ethic is a strengthening utility I have grown to trust. Customer service<br>
      is a key to success in most industries and one that I admire respectively.</p>
      <p>Retail and restaurant management, dynamic sales intuition, web developent and design,<br>
      associate training, company safety policies, and animal welfare are a few skills I have obtained<br>
      over a 10 year span in a variety of company workplaces.</p>
    </div>
    <div class="w3-col m6 text-center">
      <p class="w3-wide"><i class="fa fa-users" aria-hidden="true" style="font-size:30px;"></i>Retail and Restaurant Management</p>
      <div class="w3-progress-container w3-grey">
      </div>
      <p class="w3-wide"><i class="fa fa-desktop w3-margin-right" style="font-size:30px;"></i>Web Design</p>
      <div class="w3-progress-container w3-grey">
      </div>
      <p class="w3-wide"><i class="fa fa-photo w3-margin-right" style="font-size:30px;"></i>Animal Welfare</p>
      <div class="w3-progress-container w3-grey">
      </div>
    </div>
  </div>
</div>
  
  <section id="footer">
    <hr>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <img class="img-responsive" src="https://media.licdn.com/media/AAEAAQAAAAAAAAddAAAAJDI2OTYzZDhkLWIxMzQtNDMyMC1hMWYwLTM5YzgzOTUwNzk2OQ.jpg" alt="">
          <div class="overlay">
            <h2>Lauren Jaime</h2>
    				<p> 
    					<a href="mailto:michelledesign789@gmail.com">michelledesign789@gmail.com</a>
    				</p> 
          </div>
      </div>
    </div>     
             <div class="col-lg-9 text-center"> 
              <div class="info">
                <p>Best Regards to Your Organization</p>
                <p class="info2">special thanks to...
                <i class="fa fa-graduation-cap w3-hover-text-indigo w3-large">udemy.com</i>
                <i class="fa fa-codepen w3-hover-text-purple w3-large">codepen.io</i>
                <i class="fa fa-linkedin w3-hover-text-yellow w3-large">linkedin</i>
                <i class="fa fa-pinterest-p w3-hover-text-red w3-large"></i>
                <i class="fa fa-twitter w3-hover-text-light-blue w3-large"></i>
                <i class="fa fa-facebook w3-hover-text-indigo w3-large"></i></p>
                <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
              </div>
            </div>
  </section>

</div>