.open {
  color: #fff;
  background-color: #404040;
}

.inner {
  color: #fff;
  font-size: 18px;
}

.java:hover {
  color: #ff1a8c;
}

body {
  background:url(http://www.lovethisgif.com/uploaded_images/56936-Beautiful-City-Lights-Neon-Night-Animated-Gif-232079-On-Favim-....gif);
  background: 100%;
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

  .bg-2 {
      background-color: #474e5d;
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff;
      color: #555555;
  }
  
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }